useDynLib("mhurdle")
export("mhurdle", "rsq", "vuongtest")
import("Formula")
#import("pbivnorm")
import("truncreg")
import("maxLik")
importFrom("stats", "binomial", "coef", "cor", "df.residual", "dnorm",
           "ecdf", "fitted", "formula", "glm", "lm", "lm.fit",
           "logLik", "model.frame", "model.matrix", "model.response",
           "pchisq", "pnorm", "printCoefmat", "quantile", "rnorm",
           "update", "var", "vcov")
importFrom("survival", "survreg")
importFrom("texreg", "extract", "createTexreg")
S3method("coef", "mhurdle")
S3method("vcov", "mhurdle")
S3method("logLik", "mhurdle")
S3method("print", "mhurdle")
S3method("summary", "mhurdle")
S3method("update", "mhurdle")
S3method("print", "summary.mhurdle")
S3method("coef", "summary.mhurdle")
S3method("predict", "mhurdle")
S3method("extract", "mhurdle")

